*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
.container{
    margin-top: 10%;
    margin-left: 10%;
}
body{
    background-color: #00203A;
}
h1{
    color: white;
}
h1 span{
    color: #018D57;
}
.line{
    width: 300px;
    height: 2px;
    background-color: #018D57;
}
.input-field img{
    width: 20px;
    margin: 0px 0 0px 55px;
}
.input-field{
    background-color: white;
    width: 400px;
    margin: 30px 0 0 0;
    border-radius: 5px;
}
#input{
    border: none;
    outline: none;
    font-size: 22px;
    padding: 10px;

}
.btn-field img{
    width: 20px;
}

.btn-field button{
    background-color: #018D57;
    color: white;
    font-size: 20px;
    width: 250px;
    height: 50px;
    padding: 5px;
    border: none;
    border-radius: 5px;
    margin: 20px 0 0 0;
}
button:hover{
    cursor: pointer;
}